 .center    {
            display: block;
            width: 420px;
            height: 420px;
            margin-left: auto;
            margin-right: auto;
            }



  .vidz  {
                display: block;
                width: 1000px;
                height: 1000px;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                }